{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="row g-3">

    <div class="col-md-3">
        <div class="info-card card-1 p-3 text-white rounded">
            <h6>Users</h6>
            <h3>350</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="info-card card-2 p-3 text-white rounded">
            <h6>Income</h6>
            <h3>$12,400</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="info-card card-3 p-3 text-white rounded">
            <h6>Conversion Rate</h6>
            <h3>12.8%</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="info-card card-4 p-3 text-white rounded">
            <h6>Sessions</h6>
            <h3>8,120</h3>
        </div>
    </div>

</div>

{% endblock %}
